[data-component="GlucoseForm"],
[data-component="TimeOfDayForm"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

[data-component="GlucoseForm"] [data-header],
[data-component="TimeOfDayForm"] [data-header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background: whitesmoke;
  border-bottom: 1px solid rgba(169, 169, 169, 0.37);
  min-height: 62px;
}

[data-component="GlucoseForm"] [data-header] h4,
[data-component="TimeOfDayForm"] [data-header] h4  {
  margin: 0;
}

[data-component="GlucoseForm"] [data-next-button],
[data-component="TimeOfDayForm"] [data-next-button] {
  padding: 0.5em;
  background: whitesmoke;
  border-top: 1px solid rgba(169, 169, 169, 0.37);
}

[data-component="GlucoseForm"] [data-next-button] [data-component="Ripple"],
[data-component="TimeOfDayForm"] [data-next-button] [data-component="Ripple"] {
  width: 100%;
}
