:root {
  --navy: #001F3F;
  --blue: #0074D9;
  --aqua: #7FDBFF;
  --teal: #39CCCC;
  --olive: #3D9970;
  --green: #2ECC40;
  --lime: #01FF70;
  --yellow: #FFDC00;
  --orange: #FF851B;
  --red: #FF4136;
  --fuchsia: #F012BE;
  --purple: #B10DC9;
  --maroon: #85144B;
  --white: #FFFFFF;
  --gray: #AAAAAA;
  --silver: #DDDDDD;
  --dark-gray: #8E8E8E;
  --black: #111111;
}

* {
  box-sizing: border-box;
  padding: 0;
  outline: none;
  margin: 0;
  border: none;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/** Reset Button styles */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  box-sizing: border-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/** Reset button */
