[data-component="CircleButton"] {
  position: relative;
  border-radius: 50%;
  background-color: var(--silver);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  box-shadow: none;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-component="CircleButton"][data-selected] {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.07);
}

[data-component="CircleButton"]::after {
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.25), 1px 1px 12px rgba(0, 0, 0, 0.12);
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-component="CircleButton"]:hover::after {
  opacity: 1;
}

[data-component="CircleButton"]:disabled {
  opacity: 0.5;
  box-shadow: none;  
}

[data-component="CircleButton"]:disabled::after {
  opacity: 0;
}
