[data-component="SvgVerticalSlider"] {
  --svg-vertical-slider-color: var(--blue);
  display: block;
  margin: 0 auto;
}

[data-component="SvgVerticalSlider"] [data-slidebar-top],
[data-component="SvgVerticalSlider"] [data-slidebar-bottom],
[data-component="SvgVerticalSlider"] [data-slidebar] {
  fill: var(--svg-vertical-slider-color);
}

[data-component="SvgVerticalSlider"] [data-input-point-transparent] {
  fill: white;
}

[data-component="SvgVerticalSlider"] [data-input],
[data-component="SvgVerticalSlider"] [data-input-point] {
  fill: var(--gray);
}

[data-component="SvgVerticalSlider"] [data-input-inner] {
  fill: white;
}

[data-component="SvgVerticalSlider"] [data-input-text] {
  fill: var(--black);
  font-size: 20px;
  user-select: none;
}

[data-component="SvgVerticalSlider"] [data-slider-line] {
  stroke: var(--svg-vertical-slider-color);
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
}
